* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
}
header{
    background-color: brown;
    padding: 10px;
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
#logo-div-header{
    width: 64px;
    height: 64px;
    background-color: black;
    margin-right: 20px;
}
#search-bar-header{
    height: 40%;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    font-size: 1.5em;
    margin-left: 20px;
    text-align: center;
}
#task-section {
    max-width: 100%;
}
#task-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 30px 120px;
}
#h2-task-title {
    
    font-size: 3em;
}
#task-section-header button{    
    border-radius: 5px;
    white-space: no-wrap;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 5px;
    background-color: brown;
    cursor: pointer;
    transition-duration: 150ms;
}
#task-section-header button:hover{    
    border-radius: 5px;
    white-space: no-wrap;
    background-color: antiquewhite;
    color: brown;
    font-size: 1.80em;
    text-transform: uppercase;
    padding: 5px;
}