* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
}
:root {
    --primary-base-color: brown;
    --secondary-base-color: antiquewhite;
    --primary-text-color: white;
    --secondary-text-color: gray;
}
header{ 
    background-color: var(--primary-base-color);
    padding: 10px;
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
#logo-div-header{
    width: 64px;
    height: 64px;
    background-color: black;
    margin-right: 20px;
}
#search-bar-header{
    height: 40%;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    font-size: 1.5em;
    margin-left: 20px;
    text-align: center;
}
#task-section {
    max-width: 100%;
}
#task-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-text-color);
    background-color: black;
    padding: 30px 120px;
}
#h2-task-title {
    
    font-size: 3em;  
}
.generic-base-button{
    border-radius: 2px;
    border: 2px solid var(--primary-base-color);
    white-space: no-wrap;
    color: var(--primary-text-color);
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 5px;
    background-color: brown;
    cursor: pointer;
    transition-duration: 150ms;
}
.generic-base-button:hover{
    border: 2px solid var(--primary-base-color);
    white-space: no-wrap;
    background-color: var(--secondary-base-color);
    color: var(--primary-base-color);
    text-transform: uppercase;
    padding: 5px;
}
#task-number {
    color: gray;
    font-size: 1.3em;
    justify-self: center;
}
#overlay {
    visibility:visible;
    background-color: #00000070;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 100;
    transition-duration: 100ms;
}
#overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal {
    width: 400px;
    background-color: var(--secondary-base-color);
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 2;
}
#modal-title{
    margin-bottom: 16px;
}
.modal-header{
    display: flex;
    flex-direction: row;
}
#form-input-button{
    height: 20px;
    width: 20px;
    position: relative;
    float: right;
    margin-left: auto;
    border: 2px solid var(--primary-base-color);
    color: var(--primary-text-color);
    font-size: 1em;
    text-transform: lowercase;
    padding: 0px;
    background-color: var(--primary-base-color);
    cursor: pointer;
    transition-duration: 150ms;
}
#form-input-button:hover{
    border: 2px solid var(--primary-base-color);
    white-space: no-wrap;
    background-color: var(--secondary-base-color);
    color: var(--primary-base-color);
}
#form-tarefa {
    flex-direction: row;
    width: 100%;
}
#form-input-div {
    display: flex;
    flex-direction: column;
}
.modal-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
    text-align: left;
}
.modal-input {
    height: 48px;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 16px;
    text-align: left;
    resize:none;
}
.modal-input:focus{
    border: 2px solid var(--primary-base-color);    
}
#form-button-submit {
    align-self: center;
    justify-self: center;
}