
* {
    padding: 0;
    margin: 0;
}
header {

    background-color: blueviolet;
    width: 100%;
    height: 200px;
    display: flexbox;
}
main {
    padding-top: 50px;
    background-color: white;
    
}
body {
    display: flexbox;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
    background-color: #E8E8E8;
}
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    background-color: darkmagenta;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
#title-header-div {
    padding: 10px;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flexbox;
    justify-items: center;
    background-color: darkmagenta;
    width: 100%;
}
#digital-about{
    width: 100%;
}
.title-section {
    display: flexbox;
    color: blueviolet;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}
.title-section h2 {
    color: blueviolet;
    padding-bottom: 10px;
}
.title-section hr {
    width: 8%; background-color: blueviolet; 
    height: 1.5px;
}
.circle-image {
    height: 96px;
    width: 96px;
    background-color: blueviolet;
    border-radius: 50%;
}
#item-list-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-div {
    color: blueviolet;
    padding: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

