@import "tailwindcss";
@import "./color.css";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1em;
};

#main-section {
  min-height: 100vh; 
  width: 100%;
  background-color: var(--warning-color);
};

/* 640px = sm */
@media (min-width: 640px) {
  #main-section {
    background-color: var(--success-color);
  }
};

/* 768px = md */
@media (min-width: 768px) {
  #main-section {
    background-color: var(--secondary-color);
  }
};

/**/
@media (min-width: 1024px) {
  #main-section {
    background-color: var(--primary-color);
  }
};