@import "tailwindcss";
@import "./color.css";

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1em;
};

#main-header {
  display: flex;
  padding: 5px 10px 0 10px;
  background-color: var(--white-color);
}
#logo-div img{
  background-color: aqua;
  width: 243px;
  height: 44px;
}
input {
  padding: 10px;
}
body {
  min-height: 100vh; 
  width: 100%;
  background-color: var(--warning-color);
};
/* 768px = md */
@media (min-width: 768px) {
  #main-header {
    padding: 10px 20px 0 20px;
  }
  body {
    background-color: var(--secondary-color);
  }
};

/**/
@media (min-width: 1024px) {
  #main-header {
    padding: 30px 60px
  }
  body {
    background-color: purple;
  }
};