@import "tailwindcss";
@import "./var.css";

html,body,main {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 1em;
};

#main-header {
  display: flex;
  justify-content: center;
  padding: 5px 10px 0 10px;
  background-color: var(--white-color);
}
#logo-header{
  width: 243px;
  height: 44px;
}
#header-redirect {
  font-size: 1.0rem;
}
input {
  padding: 10px;
}
body {
  min-height: 100vh; 
  width: 100%;
  background-color: var(--warning-color);
};
/* 768px = md */
@media (min-width: 768px) {
  #main-header {
    padding: 10px 20px 0 20px;
  }
  #logo-header{
    width: 243px;
    height: 44px;
  }
  #header-redirect {
    font-size: 1.0rem;
  }
  body {
    background-color: var(--secondary-color);
  }
};

/**/
@media (min-width: 1024px) {
  #main-header {
    padding: 30px 60px
  }
  #logo-header{
    width: 243px;
    height: 44px;
  }
  #header-redirect {
    font-size: 1.0rem;
  }
  body {
    background-color: purple;
  }
};