@import "tailwindcss";
@import "./var.css";
@layer prime {
  @import "primeicons/primeicons.css";
}
/*sm & default*/
.nav-active-link {
  font-weight: bold;
  text-decoration: solid underline var(--primary-color) 20px;
  color: var(--primary-color);
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
}
#sm-header {
  display: flex;
  background-color: var(--white-color);
}
#nav-side-tab {
  display: flex;
  height: calc(100vh-10em);
  width: 70%;
  background-color: var(--white-color);
}
#main-header {
  display: none;
  padding: 5px 10px 0 10px;
  background-color: var(--white-color);
}
#logo-header{
  width: 243px;
  height: 44px;
}
#header-redirect {
  font-size: 1.0rem;
}
input {
  padding: 10px;
}
body { 
  width: 100vw;
  background: linear-gradient(90deg,rgba(204, 204, 204, 1) 0%, rgba(245, 245, 245, 1) 100%);
};
#main-footer{
  display: flex;
  flex-direction: column;
}
#footer-content-main-div{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#footer-info-categories-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}
#footer-logo-div{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
/*xl*/
@media (min-width: 1024px) {
  #nav-side-tab {
    display: none;
  }
  #sm-header{
    display: none;
  }
  #header-navigation nav{
    flex-direction: row;
  }
  #main-header {
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    width: 100%;
  }
  #logo-header{
    width: 243px;
    height: 44px;
  }
  #search-bar {
    width: 50%;
  }
  #header-redirect {
    font-size: 1.0rem;
    gap: 2em;
  }
  #main-footer{
    padding: 5rem 8rem 1rem 8rem;
    display: flex;
    flex-direction: column;
  }
  #footer-content-main-div{
    display: flex;
    flex-direction: row;
  }
  #footer-info-categories-div{
    display: flex;
    flex-direction: flex;
    justify-content: space-around;
    width: 70%;
  }
  #footer-logo-div{
    width: 30%;
    margin-right: 15rem;
    gap: 3.5rem;
  }
};